<div class="container mt-4">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <h4 class="d-flex justify-content-center align-items-center">
        <span *ngIf="isAddMode">Add new user</span>
        <span *ngIf="!isAddMode">Update user</span>
      </h4>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="user.firstName"
          name="firstName"
        />
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="user.lastName"
          name="lastName"
        />
      </div>

      <div class="form-group">
        <label>E-mail</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="user.email"
          name="email"
        />
      </div>

      <div class="form-group" *ngIf="isAddMode">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="user.password"
          name="password"
        />
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          [(ngModel)]="user.phone"
          name="phoneNumber"
        />
      </div>

      <div class="form-group">
        <label>Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          [(ngModel)]="user.address"
          name="address"
        />
      </div>

      <div class="form-group">
        <label>Roles</label><br/>
        <div *ngFor="let role of roles; let i = index">
          <input
            class="form-check-input"
            type="checkbox"
            ngModel
            name="{{ 'roles' + i }}"
            [value]="role"
          />
          <label class="form-check-label"> {{ role }} </label>
        </div>
      </div>

      <div class="row justify-content-between mt-2">
        <div class="col-4">
          <button
            class="btn btn-success w-100"
            type="button"
            (click)="goToUserList()"
          >
            Back
          </button>
        </div>
        <div class="col-4">
          <button
            class="btn btn-primary w-100"
            type="submit"
          >
            Submit
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
