<div style="background-color: red;">
  <div class="container-fluid" style="margin-top: 10px;">
    <button type="button" class="btn btn-success" (click)="onNewUser()">New User</button>
    <button type="button" class="btn btn-success" style="margin-left: 10px;"
            (click)="refreshUsers()">
      <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i>
      <i *ngIf="!refreshing" class="fas fa-sync"></i>
    </button>
    <table class="table table-borderless table-hover">
      <thead>
      <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.address }}</td>
        <td *ngIf="user.roles[0]">
                    <span *ngFor="let role of user.roles; let i=index">
                        {{ user.roles[i].name }}<span *ngIf="user.roles.length>1 && i < user.roles.length-1">,</span>
                    </span>
        </td>
        <td *ngIf="!user.roles[0]"> NONE</td>
        <td>
        <button type="button" (click)="onViewDetails(user.id)" class="btn btn-info">
          <i class="fas fa-book-open"></i></button>
        <button type="button" style="margin-left: 10px;" (click)="onEdit(user.id)" class="btn btn-primary">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" style="margin-left: 10px;" (click)="onDelete(user.id)" class="btn btn-danger">
          <i class="fas fa-trash"></i></button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
