<div class="col-md-4 offset-md-4" style="margin-top: 2%">
  <h3 *ngIf="isAddMode">Add new game</h3>
  <h3 *ngIf="!isAddMode">Update game</h3>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label>Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="game.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label>Platform</label>
      <input
        type="text"
        class="form-control"
        id="platform"
        [(ngModel)]="game.platform"
        name="platform"
      />
    </div>

    <div class="form-group">
      <label>Genre</label>
      <input
        type="text"
        class="form-control"
        id="genre"
        [(ngModel)]="game.genre"
        name="genre"
      />
    </div>

    <div class="form-group">
      <label>Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="game.description"
        name="description"
      />
    </div>

    <div class="form-group">
      <label>Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        [(ngModel)]="game.price"
        name="price"
      />
    </div>

    <div class="form-group">
      <label>Image</label>
      <input
        type="text"
        class="form-control"
        id="image"
        [(ngModel)]="game.image"
        name="image"
      />
    </div>

    <div class="form-group">
      <label>Release Date</label>
      <input
        type="date"
        class="form-control"
        id="releaseDate"
        [(ngModel)]="game.releaseDate"
        name="releaseDate"
      />
    </div>

    <div class="form-group">
      <label>Stock Quantity</label>
      <input
        type="number"
        class="form-control"
        id="stockQuantity"
        [(ngModel)]="game.stockQuantity"
        name="stockQuantity"
      />
    </div>

    <button class="btn btn-success" type="submit" style="margin-bottom: 50px;">Submit</button>
  </form>
</div>
