<div class="table-responsive container-fluid mt-3">
  <div class="row justify-content-between mt-2">
    <div class="col-4">
      <div class="d-flex">
        <h3 class="me-2">Game table:</h3>
        <button
          type="button"
          class="btn btn-sm btn-warning me-2"
          (click)="onNewGame()"
        >
          New Game
        </button>
        <button
          type="button"
          class="btn btn-sm btn-success"
          (click)="refreshGames()"
        >
          <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i>
          <i *ngIf="!refreshing" class="fas fa-sync"></i>
        </button>
      </div>
    </div>
    <div class="col-2">
      <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm.value.keyword)">
        <input
          type="search"
          name="keyword" ngModel
          class="form-control"
          placeholder="Search..."
          autocomplete="off"
          style="position: relative; vertical-align: top"
        />
      </form>
    </div>
  </div>

  <div class="row" *ngIf="gamePageSubject.value">
    <table class="table table-sm table-striped table-hover caption-top">
      <thead>
      <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Release Date</th>
        <th scope="col">Stock Quantity</th>
        <th scope="col" colspan="3">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" *ngFor="let game of gamePageSubject.value.content;">
        <td>{{ game.id }}</td>
        <td>{{ game.title }}</td>
        <td>{{ game.price }}$</td>
        <td>{{ game.releaseDate}}</td>
        <td>{{ game.stockQuantity }}</td>

        <td>
          <button
            type="button"
            (click)="onViewDetails(game.id)"
            class="btn btn-sm btn-primary"
          >
            <i class="fas fa-book-open"></i>
          </button>
        </td>
        <td>
          <button
            type="button"
            style="margin-left: 10px"
            (click)="onEdit(game.id)"
            class="btn btn-sm btn-success"
          >
            <i class="fas fa-edit"></i>
          </button>
        </td>
        <td>
          <button
            type="button"
            style="margin-left: 10px"
            (click)="gameToDelete = game"
            class="btn btn-sm btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-between mt-2">
    <div class="col-2">
      <div class="input-group mb-3">
        <select class="form-select" #tableSize (change)="onSelected(tableSize.value)">
          <option>Table Size...</option>
          <option>3</option>
          <option>5</option>
          <option>10</option>
          <option>20</option>
        </select>
      </div>
    </div>
    <div class="col-4" *ngIf="gamePageSubject.value">
      <div class="d-flex justify-content-end">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item pointer" [ngClass]="1 == (currentPageSubject.value) ? ' disabled' : ''">
              <a class="page-link" aria-label="Previous"
                 (click)="goToNextOrPreviousPage('backward', searchForm.value.keyword)">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li *ngFor="let pageNumber of [].constructor(gamePageSubject.value.totalPages) let i = index"
                class="page-item pointer" [ngClass]="i + 1 == currentPageSubject.value ? ' active' : ''">
              <a (click)="goToPage(searchForm.value.keyword, i+1)" class="page-link">{{ i + 1 }}
              </a>
            </li>

            <li class="page-item pointer"
                [ngClass]="gamePageSubject.value.totalPages == (currentPageSubject.value) ? ' disabled' : ''">
              <a class="page-link" aria-label="Next"
                 (click)="goToNextOrPreviousPage('forward', searchForm.value.keyword)">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="gameToDelete">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete game: {{gameToDelete.title}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this game?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onDelete(gameToDelete.id)">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>
