<div class="col-md-4 offset-md-4" style="margin-top: 2%">
  <h3>{{game.title}}'s details</h3>
  <div class="row">
    <label>Title</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="game.title"
      name="title"
      disabled
    />
  </div>

  <div class="row">
    <label>Platform</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="game.platform"
      name="platform"
      disabled
    />
  </div>

  <div class="row">
    <label>Genre</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="game.genre"
      name="genre"
      disabled
    />
  </div>

  <div class="row">
    <label>Description</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="game.description"
      name="description"
      disabled
    />
  </div>

  <div class="row">
    <label>Price</label>
    <input
      type="number"
      class="form-control"
      [ngModel]="game.price"
      name="price"
      disabled
    />
  </div>

  <div class="row">
    <label>Image</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="game.image"
      name="image"
      disabled
    />
  </div>

  <div class="row">
    <label>Release Date</label>
    <input
      type="date"
      class="form-control"
      [ngModel]="game.releaseDate"
      name="releaseDate"
      disabled
    />
  </div>

  <div class="row">
    <label>Stock Quantity</label>
    <input
      type="number"
      class="form-control"
      [ngModel]="game.stockQuantity"
      name="stockQuantity"
      disabled
    />
  </div>
</div>
