<div class="container mt-5">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img
          [ngSrc]="game.image || defaultImageUrl"
          class="card-img-top"
          width="500"
          height="470"
          alt="Game image"
        />
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{ game.title }}</h3>
            <button class="btn btn-success" type="button">Back</button>
          </div>
          <h4>Description</h4>
          <hr/>
          <table class="table table-striped specifications-table">
            <tbody *ngIf="game">
            <tr>
              <td class="col-xs-8">
                  <span>
                    <b> Genre: </b>
                    {{ game.genre }}
                  </span>
              </td>
            </tr>
            <tr>
              <td class="col-xs-8">
                <span> <b> Platform: </b>{{ game.platform }} </span>
              </td>
            </tr>
            <tr>
              <td class="col-xs-8">
                  <span
                  ><b> ReleaseDate: </b>
                    {{ game.releaseDate.substring(0, 10) }}</span
                  >
              </td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-primary"
                (click)="addGameToCart(game.id, 1)"
              >
                Add to cart
              </button>
            </div>
            <input type="number" class="form-control w-25" value="1"/>
            <h4 class="text-body-dark">{{ game.price }}$</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
